node_modules/
.pnpm-debug.log*
.npm-debug.log*
yarn-debug.log*
yarn-error.log*

.claude

build/
dist/
out/

*.wasm
!tree-sitter-duck/tree-sitter-duck.wasm
*.wat
*.out
*.tsbuildinfo

.env
.env.*
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*~
